html {
    font-family: sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}

h1 {
    text-align: center;
}

form {
    display: grid;
    align-content: center;
}

input {
    margin: auto;
    margin-block: 5px;
    padding: 10px;
}
