html {
    font-family: sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}

h1 {
    font-size: min(4vw, 40px);
    text-align: center;
}

form {
    display: grid;
    align-content: center;
}

input {
    text-align: center;
    font-size: 2.5vh;

    margin: auto;
    margin-block: 1.5vh;
    padding: 1.5vh;
}
