html {
    font-family: sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}

h1 {
    font-size: 4vh;
    text-align: center;
}

form {
    display: grid;
    align-content: center;
}

input {
    text-align: center;
    font-size: 3vh;

    margin: 25vh;
    margin-block: 1.5vh;
    padding: 1.5vh;
}
